# macOS 
.DS_Store 

# Python _
_pycache__/ 
*.pyc 

# Local environments 
.env 

# Input data 
data/

# Generated data 
output/ 

# Jupyter 
.ipynb_checkpoints/ 

# VS Code 
.vscode/

# Generated spreadsheets
output/*.xlsx

# Generated standings
final_standings.xlsx

# Generated HTML
*.html

